// Colors

$theme-color: #045fca;
$online-color: #28b463;
$offline-color: #e74c3c;

@mixin warning {
    color:   #b7950b;
    background:  #f9e79f;
    .icon::before {
        content: "⚠️";
        cursor: pointer;
    }
}

@mixin success  {
    background:  #a3e4d7;
    color:  #117864;
    .icon::before {
        content: "✔️";
        cursor: pointer;
    }
}

@mixin error {
    background:#e6b0aa;
    color:  #922b21;
    .icon::before {
        content: "❌";
        cursor: pointer;
    }
}

// Fonts
$poppins-font: 'Poppins', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$hammersmith-font: 'Hammersmith One', sans-serif;